<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Formulário de Pessoas</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fonts/glyphicons-halflings-regular.woff2">
        <link rel="stylesheet" href="css/fonts/glyphicons-halflings-regular.woff">
        <link rel="stylesheet" href="css/fonts/glyphicons-halflings-regular.ttf">
        <link rel="stylesheet" href="css/main.css">
        <base href="/">
    </head>

    <body ng-app="app" ng-controller="IndexController">
        <div class="container">            
            
            <div class="cadastro-box col-sm-6 col-sm-offset-3">
                <div class="row">
                    <h4 class="dados-cliente col-md-10 col-md-offset-1">Dados do Cliente <small>*campos obrigatórios</small></h4>
                </div>
                <br>
                <form class="form" name="formulario" ng-submit="criarCliente()" novalidate>                    
                    <div class="row">
                        <div class="form-group col-sm-6">                            
                            <input type="text" class="form-control" id="codigo" placeholder="Código do cliente" ng-model="pessoa.codigo" readonly>
                        </div>     
                        <div class="form-group col-sm-6">                                                                                    
                            <input type="text" class="form-control" name="cpf_cnpj" id="cpf_cnpj" placeholder="CPF ou CNPJ" ng-model="pessoa.cpf_cnpj" required onkeydown="javascript:return aplica_mascara_cpfcnpj(this,18,event)" onkeyup="javascript:return aplica_mascara_cpfcnpj(this,18,event)">                                                        
                        </div>                  
                    </div>
                    <div class="form-group">        
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-user"></i></span>
                            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome Completo" ng-model="pessoa.nome_completo" ng-pattern="validacao_somente_letras" required>                            
                        </div>                    
                        
                    </div>
                    <div class="form-group">                            
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-at"></i></span>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="pessoa.email" ng-pattern="validacao_email" onkeypress="return BloquearEspaco(event)" required>                                                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6"> 
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></span>
                                <input type="text" class="form-control" name="telefone" id="telefone" placeholder="Telefone" ng-model="pessoa.telefone" ng-pattern="validacao_telefone" onkeypress="return BloquearEspaco(event)" required>
                            </div>                           
                        </div>     
                        <div class="form-group col-sm-6">  
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-phone"></i></span>
                                <input type="text" class="form-control" name="residencial" id="residencial" placeholder="Residencial" ng-model="pessoa.residencial" onkeypress="return BloquearEspaco(event)">                            
                            </div>                                                                                  
                        </div>                   
                    </div>
                    <div class="row">                        
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" name="cep" id="cep" placeholder="CEP" ng-model="pessoa.cep" ng-pattern="validacao_somente_numeros" ng-minlength="8" ng-maxlength="8" onkeypress="return BloquearEspaco(event)" required>                                
                        </div>                                             
                    </div>
                    <div class="form-group">      
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-id-card"></i></span>
                            <input type="text" class="form-control" name="rua" id="rua" placeholder="Endereço" ng-model="pessoa.rua" required>                            
                        </div>                  
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">                                                      
                            <input type="text" class="form-control" name="numero_casa" id="numero_casa" placeholder="Número" ng-model="pessoa.numero_casa" ng-pattern="validacao_somente_numeros" onkeypress="return BloquearEspaco(event)" required>                            
                        </div>                        
                        <div class="form-group col-sm-5">                                                    
                            <input type="text" class="form-control" name="bairro" id="bairro" placeholder="Bairro" ng-model="pessoa.bairro" ng-pattern="validacao_somente_letras" required>                            
                        </div>
                        <div class="form-group col-sm-4">                                                    
                            <input type="text" class="form-control" name="complemento" id="compl" placeholder="Complemento" ng-model="pessoa.complemento">                            
                        </div>
                    </div>
                    <div class="row">                                                
                        <div class="form-group col-sm-7">                                                 
                            <input type="text" class="form-control" name="cidade" id="cidade" placeholder="Cidade" ng-model="pessoa.cidade" required>                            
                        </div>
                        <div class="form-group col-sm-2">                                                 
                            <input type="text" class="form-control" name="uf" id="uf" placeholder="UF" ng-model="pessoa.uf" ng-pattern="validacao_somente_letras" required>                            
                        </div>
                    </div>
                    
                    <!-- Validações dos campos -->
                    <div ng-if="formulario.cpf.$touched && formulario.cpf.$invalid">
                        <div class="alert alert-danger">
                            <span ng-if="formulario.cpf.$error.required">É obrigatório informar o CPF!</span>
                        </div>
                    </div>

                    <div ng-if="formulario.nome.$touched && formulario.nome.$invalid">
                        <div class="alert alert-danger">
                            <span ng-if="formulario.nome.$error.required">É obrigatório informar o Nome!</span>
                            <span ng-if="formulario.nome.$error.pattern">Utilize somente letras!</span>
                        </div>
                    </div>               
                    
                    <div ng-if="formulario.email.$touched && formulario.email.$invalid">
                        <div class="alert alert-danger">                            
                            <span ng-if="formulario.email.$error.required">É obrigatório informar o Email!</span>
                            <span ng-if="formulario.email.$error.pattern">Email inválido. Utilize o formato (exemplo@ideia.com)</span>
                            
                        </div>
                    </div>  
                    
                    <div ng-if="formulario.telefone.$touched && formulario.telefone.$invalid">
                        <div class="alert alert-danger">
                            <span ng-if="formulario.telefone.$error.required">É obrigatório informar o Telefone!</span>
                            <span ng-if="formulario.telefone.$error.pattern">Telefone Inválido!</span>
                        </div>
                    </div>

                    <div ng-if="formulario.cep.$touched && formulario.cep.$invalid">
                        <div class="alert alert-danger">
                            <span ng-if="formulario.cep.$error.required">É obrigatório informar o CEP!</span>
                            <span ng-if="formulario.cep.$error.pattern">Utilize somente números!</span>
                            <span ng-if="formulario.cep.$error.minlength || formulario.cep.$error.maxlength">O CEP deve conter 8 dígitos!</span>
                        </div>
                    </div>

                    <div ng-if="formulario.rua.$touched && formulario.rua.$invalid">
                        <div class="alert alert-danger">
                            <span ng-if="formulario.rua.$error.required">É obrigatório informar o Endereço!</span>
                        </div>
                    </div>

                    <div ng-if="formulario.numero_casa.$touched && formulario.numero_casa.$invalid">
                        <div class="alert alert-danger">
                            <span ng-if="formulario.numero_casa.$error.required">É obrigatório informar o Número da Casa!</span>
                            <span ng-if="formulario.numero_casa.$error.pattern">Somente números. Caso haja letra utilize o complemento.</span>
                        </div>
                    </div>

                    <div ng-if="formulario.bairro.$touched && formulario.bairro.$invalid">
                        <div class="alert alert-danger">
                            <span ng-if="formulario.bairro.$error.required">É obrigatório informar o Bairro!</span>
                        </div>
                    </div>                    

                    <div ng-if="formulario.cidade.$touched && formulario.cidade.$invalid">
                        <div class="alert alert-danger">
                            <span ng-if="formulario.cidade.$error.required">É obrigatório informar a Cidade!</span>                            
                        </div>
                    </div>

                    <div ng-if="formulario.uf.$touched && formulario.uf.$invalid">
                        <div class="alert alert-danger">
                            <span ng-if="formulario.uf.$error.required">É obrigatório informar a UF!</span>
                            <span ng-if="formulario.uf.$error.pattern">Utilize somente letras!</span>
                        </div>
                    </div>
                    <!-- Fim das validações-->

                    <br>
                    <div class="row">
                        <div class="form-group text-align-center">
                            <button type="submit" class="btn btn-default btn-sm btn-fix-size" ng-disabled="formulario.$invalid">
                                <span class="" title="Gravar" alt="Gravar">Gravar</span>
                            </button>
                            <button type="submit" class="btn btn-default btn-sm btn-fix-size">
                                <span class="" title="Cancelar" alt="Cancelar">Cancelar</span>
                            </button>
                        </div>
                    </div>
                </form> <!-- fim formulario -->
            </div> <!-- fim cadastro-box -->
        </div> <!-- fim container -->
    </body>

    <script src="lib/lib.js"></script>
    <script src="js/app.js"></script>
    <script src="js/index.js"></script>
    <script src="js/consulta_cep.js"></script>
    <script src="js/controllers/index-controller.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

</html>