.cadastro-box {
    box-shadow: 1px 1px 10px 1px grey;
    border-radius: 7px;
    padding: px;
    margin-top: 25px;
}

.dados-cliente {
    text-align: center;
}

body {
  background: url('../img/bg_full_2.jpg') no-repeat fixed center;   
}

.btn-fix-size {
    width: 90px;
} 

.red {
    color: red;
}

.text-align-center {
    text-align: center;
}

/* input.ng-pristine, input.ng-empty, input.ng-valid.ng-empty {
    border-color: none;
} */

input.ng-touched.ng-invalid, input.ng-not-empty.ng-invalid, input.ng-not-empty.ng-invalid-required {
  border-color: red;
}

input.ng-touched.ng-valid, input.ng-not-empty.ng-valid {
  border-color: green;
}

/* .image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
} */

.input-field {
   margin-top: 0rem;
   margin-bottom: 0rem;
}

